.geral{ 
    background-color: white;
    width: 375px;
    height: 812px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;


}

.esqueceu{
    width: 375px;
    height: 156px;
    background: rgba(94,201,150,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 0px;
    border-bottom-left-radius: 10% ;
    border-bottom-right-radius: 10%;
}

.texto1{
    background-color: aqua;

}

.texto2{
    background-color: aqua;

}

.checkrobo{
    background-color: aqua;
    
}