* {
  box-sizing: border-box;

}
body {
  font-size: 14px;
}

.v1266_967 {
  width: 270px;
  height: 299px;
  background: url("../images/v1266_967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 45px;
  overflow: hidden;}

  .v1266_968 {
  width: 270px;
  height: 299px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_969 {
  width: 270px;
  height: 39px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_970 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 71px;
  left: 76px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v1266_971 {
  width: 177px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 126px;
  left: 47px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1266_972 {
  width: 203px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 207px;
  left: 34px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}

.v244_3154 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: -40px;
  left: -20px;
  overflow: hidden;
}
.v244_3155 {
  width: 375px;
  height: 156px;
  background:linear-gradient(rgba(187,242,200,1), rgb(218, 248, 224));
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  border-bottom-left-radius: 10% ;
  border-bottom-right-radius: 10%;
}
.v244_3156 {
  width: 199px;
  height: 32px;
  background: rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 245px;
  left: 144px;
  border-radius: 10px ;
}
.v244_3157 {
  width: 199px;
  height: 31px;
  background:rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 200px;
  left: 144px;
  border-radius: 10px ;

}
.v244_3158 {
  width: 199px;
  height: 31px;
  background: rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 290px;
  left: 144px;
  border-radius: 10px ;
}
.v244_3159 {
  width: 199px;
  height: 31px;
  background: rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 390px;
  left: 144px;
  border-radius: 10px ;
}
.v244_3160 {
  width: 199px;
  height: 32px;
  background: rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 440px;
  left: 146px;
  border-radius: 10px ;
}
.v244_3161 {
  width: 199px;
  height: 31px;
  background: rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 490px;
  left: 146px;
  border-radius: 10px ;
}
.v244_3162 {
  width: 199px;
  height: 32px;
  background: rgba(187,242,200,1);
  opacity: 0.5;
  position: absolute;
  top: 340px;
  left: 144px;
  border-radius: 10px ;
}
.v244_3166 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 350px;
  left: 61px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v244_3167 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 450px;
  left: 79px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v244_3168 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 24px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v244_3171 {
  width: 289px;
  height: 43px;
  background:rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 584px;
  left: 61px;
  
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.v244_3172 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 595px;
  left: 112px;
  font-family: Saira SemiCondensed;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}

.v244_3174 {/*
  width: 23px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1px;
  overflow: hidden;*/
}
.v244_3175 {
  /*width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;*/

  opacity: 1;
  position: absolute;
  top: 35px;
  left: 25px;
  overflow: hidden;
  font-size: 35px;
  
  
  
}
.v244_3176 {
  /*
  width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;*/
}
.v244_3177 {
  width: 63px;
  height: 58px;
  /*background: url("../images/v244_3177.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 57px;
  left: 262px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v244_3178 {
  width: 63px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v244_3179 {
  width: 34px;
  height: 34px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 14px;
  border-radius: 50%;
}
.v244_3180 {
  width: 50px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 6px;
  border-radius: 50%;
}
.v244_3181 {
  /*width: 442px;*/
  color: rgba(0,0,0,1);
  position: absolute;
  top: 67px;
  left: 72px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 36px;
  opacity: 0.5;
  text-align: center;
}
.v244_3182 {
  width: 119px;
  height: 101px;
  /*background: url("../images/v244_3182.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 218px;
  overflow: hidden;
}

.v244_3295 {
  width: 270px;
  height: 299px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 55px;
  /**overflow: hidden;*/
}
.v244_3296 {
  width: 279px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 123px;
  left: 41px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 11px;
  opacity: 0.5;
  text-align: left;
}
 .v244_3297 {
  width: 270px;
  height: 240px;
  ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 55px;
  overflow: hidden;
}
.v244_3298 {
  width: 270px;
  height: 39px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  /**overflow: hidden;*/
}
.v244_3299 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 71px;
  left: 69px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v244_3300 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 118px;
  left: 31px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v244_3301 {
  width: 233px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 200px;
  left: 19px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v244_3302 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 210px;
  left: 63px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

.v244_3305 {
  font-size: 25px;
  width: 12px;
  height: 2px;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 20px;
}
;
}
