* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1190_1131 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1190_1132 {
  width: 375px;
  height: 156px;
  background: rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 27px;
  left: 0px;
}
.v1190_1133 {
  width: 168px;
  height: 31px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 219px;
  left: 125px;
}
.v1190_1134 {
  width: 168px;
  height: 31px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 171px;
  left: 125px;
}
.v1190_1135 {
  width: 168px;
  height: 31px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 268px;
  left: 125px;
}
.v1190_1136 {
  width: 168px;
  height: 31px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 365px;
  left: 125px;
}
.v1190_1137 {
  width: 168px;
  height: 31px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 416px;
  left: 127px;
}
.v1190_1138 {
  width: 168px;
  height: 31px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 462px;
  left: 127px;
}
.v1190_1139 {
  width: 168px;
  height: 31px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 317px;
  left: 125px;
}
.v1190_1140 {
  width: 37px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 175px;
  left: 73px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1141 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 272px;
  left: 57px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1142 {
  width: 35px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 366px;
  left: 75px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1143 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 321px;
  left: 55px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1144 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 420px;
  left: 70px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1145 {
  width: 99px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 466px;
  left: 24px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1146 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 85px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1147 {
  width: 244px;
  height: 43px;
  background: rgba(94,201,150,1);
  opacity: 0.5;
  position: absolute;
  top: 519px;
  left: 55px;
}
.v1190_1148 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 517px;
  left: 98px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1149 {
  width: 63px;
  height: 58px;
  background: url("../images/v1190_1149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 37px;
  left: 262px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1190_1150 {
  width: 63px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1190_1151 {
  width: 34px;
  height: 34px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 14px;
  border-radius: 50%;
}
.v1190_1152 {
  width: 50px;
  height: 22px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 6px;
  border-radius: 50%;
}
.v1190_1153 {
  width: 442px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 72px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 36px;
  opacity: 0.5;
  text-align: center;
}
.v1190_1154 {
  width: 270px;
  height: 299px;
  background: url("../images/v1190_1154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 45px;
  overflow: hidden;
}
.v1190_1155 {
  width: 270px;
  height: 299px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1190_1156 {
  width: 270px;
  height: 39px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1190_1157 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 71px;
  left: 76px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v1190_1158 {
  width: 177px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 126px;
  left: 47px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1190_1159 {
  width: 203px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 207px;
  left: 34px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1190_1160 {
  width: 14px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 55px;
}
.v1190_1161 {
  width: 25px;
  height: 17px;
  background: url("../images/v1190_1161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v1190_1162 {
  width: 23px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  overflow: hidden;
}
.v1190_1163 {
  width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  overflow: hidden;
}
.v1190_1164 {
  width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v1190_1165 {
  width: 375px;
  height: 23px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 790px;
  left: 0px;
}
