* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v939_288 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v939_289 {
  width: 25px;
  height: 25px;
  background: url("../images/v939_289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 220px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v939_290 {
  width: 377px;
  height: 715px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  overflow: hidden;
}
.v939_291 {
  width: 377px;
  height: 715px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v939_292 {
  width: 63px;
  height: 58px;
  background: url("../images/v939_292.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 289px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v939_293 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 28px;
  font-family: Saira SemiCondensed;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v939_294 {
  width: 25px;
  height: 17px;
  background: url("../images/v939_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v939_295 {
  width: 23px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  overflow: hidden;
}
.v939_296 {
  width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  overflow: hidden;
}
.v939_297 {
  width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v939_298 {
  width: 375px;
  height: 781px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 557px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v939_299 {
  width: 150px;
  height: 39px;
  background: rgba(94,201,150,1);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 207px;
}
.v939_300 {
  width: 150px;
  height: 39px;
  background: rgba(94,201,150,1);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 43px;
}
.v939_301 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 562px;
  left: 28px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v939_302 {
  width: 25px;
  height: 25px;
  background: url("../images/v939_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 220px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v939_303 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 165px;
  left: 0px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v939_304 {
  width: 181px;
  height: 39px;
  background: rgba(94,201,150,1);
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 155px;
}
.v939_305 {
  width: 181px;
  height: 38px;
  background: rgba(94,201,150,1);
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 155px;
}
.v939_306 {
  width: 181px;
  height: 38px;
  background: rgba(94,201,150,1);
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 155px;
}
.v939_307 {
  width: 101px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 259px;
  left: 38px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v939_308 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 333px;
  left: 26px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v939_309 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 432px;
  left: 17px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v939_310 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 562px;
  left: 192px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
