* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1266_796 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_797 {
  width: 409px;
  height: 154px;
  background: url("../images/v1266_797.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 27px;
  overflow: hidden;
}
.v1266_798 {
  width: 289px;
  height: 154px;
  background: rgba(235,30,30,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1266_799 {
  width: 289px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 50px;
  overflow: hidden;
}
.v1266_800 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1266_801 {
  width: 369px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 115px;
  left: 41px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1266_806 {
  width: 369px;
  height: 154px;
  background: url("../images/v1266_806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 355px;
  left: 327px;
  overflow: hidden;
}
.v1266_807 {
  width: 289px;
  height: 154px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1266_808 {
  width: 289px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 9px;
  overflow: hidden;
}
.v1266_809 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 25px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1266_810 {
  width: 369px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 116px;
  left: 0px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1266_811 {
  width: 36px;
  height: 38px;
  background: url("../images/v1266_811.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 292px;
  overflow: hidden;
}
.v1266_812 {
  width: 36px;
  height: 38px;
  background: url("../images/v1266_812.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v1266_813 {
  width: 5px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-radius: 50%;
}
.v1266_814 {
  width: 4px;
  height: 16px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 17px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1266_815 {
 
  
  position: absolute;
  top: 751px;
  left: 58px;
  overflow: hidden;
  width: 38px;
  height: 38px;
  background: rgba(196,196,196,1);
  opacity: 1;
  left: 38px;
  border-radius: 50%;
}
.v1266_816 {
  width: 38px;
  height: 38px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 38px;
  border-radius: 50%;
}
.v1266_817 {
  width: 5px;
  height: 5px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-radius: 50%;
}
.v1266_818 {
  width: 4px;
  height: 16px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 17px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1266_819 {
  width: 266px;
  color: rgba(57,75,65,1);
  position: absolute;
  top: 315px;
  left: 27px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v1266_820 {
  width: 375px;
  height: 303px;
  background: url("../images/v1266_820.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.v1266_821 {
 
  height: 276px;
  background: rgba(28,147,99,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;


}
.v1429_312 {
  

  width: 375px;
    height: 260px;
    background: linear-gradient(rgba(19,79,55,1), rgba(94,201,150,1));
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 0px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    overflow: hidden;
}
.v1266_822 {
  width: 73px;
    height: 68px;
 
  background: url("../images/rostoarthur.png");
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 274px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v1266_823 {
  width: 98px;
  height: 93px;
  background: url("../images/v1266_823.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 133px;
  overflow: hidden;
}
.v1266_824 {
  width: 98px;
  height: 93px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: relative;
  top: -3px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.v1266_825 {
  width: 47px;
  height: 49px;
  background: url("../images/v1266_743.png\ -\ Atalho.lnk");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 27px;
  overflow: hidden;
}
.v1266_826 {
  width: 30px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 33px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1266_827 {
  width: 97px;
  height: 93px;
  background: url("../images/v1266_827.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 27px;
  overflow: hidden;
}
.v1266_828 {
  width: 97px;
  height: 93px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: relative;
  top: -3px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1266_829 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  
  left: 19px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  top: 5px;
}
.v1266_830 {
  width: 64px;
  height: 36px;
  background: url("../images/v1266_830.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 15px;
  overflow: hidden;
}
.v1266_831 {
  width: 64px;
  height: 36px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1266_832 {
  width: 64px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v1266_833 {
  width: 160px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 60px;
  left: 32px;
  font-family: Saira SemiCondensed;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1266_834 {
  width: 160px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 84px;
  left: 32px;
  font-family: Saira SemiCondensed;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1266_835 {
  width: 97px;
  height: 93px;
  background: url("../images/v1266_835.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 239px;
  overflow: hidden;
}
.v1266_836 {
  width: 97px;
  height: 93px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: relative;
  top: -3px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1266_837 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 13px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1266_838 {
  width: 38px;
  height: 51px;
  background: url("../images/v1266_838.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 29px;
  overflow: hidden;
}
.v1266_839 {
  width: 38px;
  height: 51px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1266_840 {
  width: 27px;
  height: 4px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 5px;
  overflow: hidden;
}
.v1266_841 {
  width: 14px;
  height: 4px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 12px;
  overflow: hidden;
}
.v1266_842 {
  width: 27px;
  height: 1px;
  background: url("../images/v1266_842.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 5px;
  overflow: hidden;
}
.v1266_843 {
  width: 16px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_844 {
  width: 8px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v1266_845 {
  width: 27px;
  height: 1px;
  background: url("../images/v1266_845.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 5px;
  overflow: hidden;
}
.v1266_846 {
  width: 16px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_847 {
  width: 8px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v1266_848 {
  width: 27px;
  height: 1px;
  background: url("../images/v1266_848.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 5px;
  overflow: hidden;
}
.v1266_849 {
  width: 16px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_850 {
  width: 8px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v1266_851 {
  width: 3px;
  color: rgba(57,75,65,1);
  position: absolute;
  top: 34px;
  left: 30px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v1266_852 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 32px;
  font-family: Saira SemiCondensed;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1266_856 {
  width: 314px;
  height: 62px;
  background: url("../images/v1266_856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 633px;
  left: 27px;
  overflow: hidden;
}
.v1266_857 {
  width: 314px;
  height: 62px;
  background: rgba(94,201,150,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-end-end-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 20px;
}
.v1266_858 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 12px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
