  
  left: 19px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  top: 5px;
}
.v1266_830 {
  width: 64px;
  height: 36px;
  background: url("../images/v1266_830.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 15px;
  overflow: hidden;
}
.v1266_831 {
  width: 64px;
  height: 36px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1266_832 {
  width: 64px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v1266_833 {
  width: 160px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 60px;
  left: 32px;
  font-family: Saira SemiCondensed;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1266_834 {
  width: 160px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 84px;
  left: 32px;
  font-family: Saira SemiCondensed;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1266_835 {
  width: 97px;
  height: 93px;
  background: url("../images/v1266_835.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 239px;
  overflow: hidden;
}
.v1266_836 {
  width: 97px;
  height: 93px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: relative;
  top: -3px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1266_837 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 13px;
  font-family: Saira SemiCondensed;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1266_838 {
  width: 38px;
  height: 51px;
  background: url("../images/v1266_838.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 29px;
  overflow: hidden;
}
.v1266_839 {
  width: 38px;
  height: 51px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1266_840 {
  width: 27px;
  height: 4px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 5px;
  overflow: hidden;
}
.v1266_841 {
  width: 14px;
  height: 4px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 12px;
  overflow: hidden;
}
.v1266_842 {
  width: 27px;
  height: 1px;
  background: url("../images/v1266_842.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 5px;
  overflow: hidden;
}
.v1266_843 {
  width: 16px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_844 {
  width: 8px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v1266_845 {
  width: 27px;
  height: 1px;
  background: url("../images/v1266_845.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 5px;
  overflow: hidden;
}
.v1266_846 {
  width: 16px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_847 {
  width: 8px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v1266_848 {
  width: 27px;
  height: 1px;
  background: url("../images/v1266_848.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 5px;
  overflow: hidden;
}
.v1266_849 {
  width: 16px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1266_850 {
  width: 8px;
  height: 1px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v1266_851 {
  width: 3px;
  color: rgba(57,75,65,1);
  position: absolute;
  top: 34px;
  left: 30px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v1266_852 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 151px;
  left: 32px;
  font-family: Saira SemiCondensed;
  font-weight: ExtraBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1266_856 {
  width: 314px;
  height: 62px;
  background: url("../images/v1266_856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 633px;
  left: 27px;
  overflow: hidden;
}
.v1266_857 {
  width: 314px;
  height: 62px;
  background: rgba(94,201,150,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-end-end-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 20px;
}
.v1266_858 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 12px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.v1266_755 {
  width: 38px;
   height: 38px;
   background: url("../images/v1266_755.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   opacity: 1;
   position: absolute;
   top: 757px;
   left: 61px;
   overflow: hidden;
 }
 .v1266_756 {
   width: 38px;
   height: 38px;
   background: rgba(196,196,196,1);
   opacity: 1;
   
   top: 0px;
   left: 38px;
   border-radius: 50%;
 }
 .v1266_757 {
   width: 5px;
   height: 5px;
   background: rgba(57,75,65,1);
   opacity: 1;
   position: absolute;
   top: 4px;
   left: 16px;
   border-radius: 50%;
 }
 .v1266_758 {
   width: 4px;
   height: 16px;
   background: rgba(57,75,65,1);
   opacity: 1;
   position: absolute;
   top: 14px;
   left: 17px;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   overflow: hidden;
 }

 .escrita{
  width: 266px;
  color: rgba(57,75,65,1);
  position: absolute;
  top: 323px;
  left: 27px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.vetor{
  
  position: absolute;
  color:black;
  left: 302px;
  top: 11px;
  width: 30px;
  font-size: 25px;
  
 



}
.vetor2{
  
  position: absolute;
  color:black;
  left: 302px;
  top: 11px;
  width: 30px;
  font-size: 25px;
  

}
