* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v244_3291 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  /**overflow: hidden;*/
}
.v244_3292 {
  width: 385px;
  height: 198px;
  background: rgba(111,207,151,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius:10%;
}
.v244_3293 {
  width: 442px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: -40px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 36px;
  opacity: 0.5;
  text-align: center;
}
.v244_3294 {
  width: 375px;
  height: 23px;
  background: rgba(196,196,196,1);
  opacity: 0.5;
  position: absolute;
  top: 789px;
  left: 0px;
}
.v244_3295 {
  width: 270px;
  height: 299px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 55px;
  /**overflow: hidden;*/
}
.v244_3296 {
  width: 279px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 41px;
  font-family: Saira SemiCondensed;
  font-weight: Regular;
  font-size: 11px;
  opacity: 0.5;
  text-align: left;
}
.v244_3297 {
  width: 270px;
  height: 240px;
  background: url("../images/v244_3297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 55px;
  overflow: hidden;
}
.v244_3298 {
  width: 270px;
  height: 39px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  /**overflow: hidden;*/
}
.v244_3299 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 71px;
  left: 69px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v244_3300 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 118px;
  left: 31px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v244_3301 {
  width: 233px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 218px;
  left: 19px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v244_3302 {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 210px;
  left: 63px;
  font-family: Saira SemiCondensed;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v244_3303 {
  width: 25px;
  height: 17px;
  background: url("../images/v244_3303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 25px;
  left: 25px;
  overflow: hidden;
}
.v244_3304 {
  width: 23px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  overflow: hidden;
}
.v244_3305 {
  width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  overflow: hidden;
}
.v244_3306 {
  width: 12px;
  height: 2px;
  background: rgba(57,75,65,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
